@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    font-family: 'poppins';
    overflow: scroll;
    margin: 3.5%;
    margin-left: 12.5%;
    background-color: var(--payment-background);
    overflow-x: hidden;
}

.payment-page-container {
    position: fixed;
    height: 85vh;
    width: 85%;
    display: flex;
}

.payment-out-box {
    position: relative;
    height: 100%;
    width: 40vw;

}

:root {
    --payment-background: #fff;
    --payment-text-color: #707070;
    --method-background: #fff;
    --method-select: #ededed;
    --method-text-color: #707070;
    --invoice-container-border: #c4c4c4;
    --input-box: #ffffff;
    --input-box-select: #ededed;
    --input-box-border: #d6d6d6;
    --input-box-border-select: #d6d6d6;
    --text-color:black;
}

body.dark {
    --payment-background: #3a3b3c;
    --payment-text-color: #ffffff;
    --method-background: #4b4c4d;
    --method-select: #2b2b2b;
    --method-text-color: #c4c4c4;
    --invoice-container-border: #4b4b4b;
    --input-box: #2b2b2b;
    --input-box-select: #2b2b2b;
    --input-box-border: #2b2b2b;
    --input-box-border-select: #c4c4c4;
    --text-color:white;
}


/*body*/

.payment-text {
    font-size: 4.2vw;
    font-weight: bold;
    color: var(--payment-text-color);
}

.product-info {
    position: relative;
    top: 3%;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: var(--payment-text-color);
}

.product-info #payment-course {
    font-size: 2.9vw;
    font-weight: 500;
    overflow-wrap: break-word;
}

.product-info #payment-price {
    font-size: 2.4vw;

}

.payment-methods {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 10%;

}

.payment-methods p {
    font-size: 1.6vw;
    color: var(--payment-text-color);
}

#card-method {
    width: 80%;
    margin-left: 1%;
    margin-top: 2%;
    text-align: right;
    font-size: 1.8vw;
    padding: 3%;
    padding-right: 5%;
    color: var(--method-text-color);
    background-color: var(--method-background);
    border: 0.4vh solid var(--invoice-container-border) ;
    border-radius: 2vh;
    overflow: hidden;
    cursor: pointer;
}

#card-method:hover{
    background-color: var(--method-select);
}

#ewallet-method:hover{
    background-color: var(--method-select);
}


#ewallet-method {
    width: 80%;
    margin-left: 1%;
    margin-top: 2%;
    text-align: right;
    font-size: 1.8vw;
    padding: 3%;
    padding-right: 5%;
    color: var(--method-text-color);
    background-color: var(--method-background);
    border: 0.4vh solid var(--invoice-container-border) ;
    border-radius: 2vh;
    overflow: hidden;
    cursor: pointer;
}
 

.payment-methods img {
    width: 17%;
    height: auto;
    object-fit: contain;
    position: relative;
    left: 2%;
    float: left;
}

/*body*/

/*invoice*/

.invoice-container {
    position: relative;
    right: -4%;
    width: 35%;
    height: 100%;
    padding-inline: 3%;
    border: 0.3vh solid var(--invoice-container-border) ;
    border-radius: 2vh;
    float: right;
    background-color: var(--method-background);
    box-sizing: border-box;
    overflow: hidden;
    color: var(--payment-text-color);
}

#payment-method-name {
    font-size: 2vw;
}

.invoice-container .invoice-form-container {
    margin-top: 20%;
    width: 100%;
    height: 70%;
}


.invoice-container label {
    display: block;
    font-size: 1.5vw;
    margin-top: 5%;
}

.invoice-container input {
    border: 0.4vh solid var(--input-box-border) ;
    background-color: var(--input-box);
    border-radius: 0.5vh;
    width: 100%;
    height: fit-content;
    font-size: 1.3vw;
    padding: 2%;
    color: var(--payment-text-color);
}

.invoice-other {
    display: flex;
    flex-direction: row;
    height: 30%;
}

#invoice-third-input {
    width: 95%;
}

#invoice-fourth-label {
    margin-left: 5%;
}

#invoice-fourth-input {
    margin-left: 5%;
    width: 95%;
}

.invoice-submit {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoice-submit button {

    color: #fff;
    background-color: #695cfe;
    border-radius: 5vh;
    border: none;
    cursor: pointer;
    font-size: 1.5vw;
    width: 10vw;
    height: 8vh;
    transition: .5s ease;
}

.invoice-submit button:hover {

    color: #0d0512;
    background-color: #b4aef4;


}

.invoice-start {
    position: absolute;
    top: 40%;
    width: 82%;
    height: fit-content;
    font-size: 2vw;
    text-align: center;
}

input[type=text]:focus {
    background-color: var(--input-box-select);
}

/*invoice*/

.theme {
    width: 10%;
    position: absolute;
}

#back
{
    position:absolute;
    font-size:2vw;
    left:3%;
    top:2%;
    color:var(--text-color)

}
