@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*
{
font-family: 'poppins';
margin:0;
padding:0;
}
html
{
    scroll-behavior: smooth;
}
:root
{
    --body-color: #fcfcfc;
    --sidebar-color: #fff;
    --primary-color:#695cfe;
    --primary-color-light: #ffffff;
    --toggle-color:#DDD;
    --text-color:#707070;
    --product-color:#ffffff;
    --text-color-2:black;
    --trans-2s: all .2s ease;
    --trans-3s: all .3s ease;
    --trans-4s: all .4s ease;
    --trans-5s: all .5s ease;

    --anim-3s: animate 8s linear infinite;
    --anim-4s: animate 9s linear infinite;
    --anim-5s: animate 7s linear infinite;
    --anim-6s: animate 6s linear infinite;

    /*This is for Gradient*/
    --color-bg1: rgb(108, 0, 162);
    --color-bg2: rgb(0, 17, 82);
    --color1: 18, 113, 255;
    --color2: 221, 74, 255;
    --color3: 100, 220, 255;
    --color4: 200, 50, 50;
    --color5: 180, 180, 50;
    --color-interactive: 140, 100, 255;
    --circle-size: 80%;
    --background-purple-gradient: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    --blending: hard-light;
}


body
{
    background:var(--background-purple-gradient);
    height: fit-content;
    transition: var(--trans-4s);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    overflow-x: hidden;
}

body.dark 
{
    --color-bg1: rgba(63, 17, 113);
    --color-bg2: rgba(8, 17, 60);
    --body-color: #181918;
    --sidebar-color: #242526;
    --primary-color:#3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color:#fff;
    --text-color:#ffffff;
    --product-color:#dfdfdf;
    --text-color-2:white;
    --blending: hard-light;
    --background-purple-gradient: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
}


.sidebar
{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 15vw;
    background-color: var(--sidebar-color);
    padding: 2vh 1vw;
    transition:var(--trans-5s);
    z-index:100;
  
}

.sidebar.close{
    width: 5vw;
}


.sidebar.close .text{
    opacity: 0;

}
.sidebar .menu-bar
{
    height:calc(100% - 12%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text
{
    color:var(--text-color);
    font-size: 1vw;
    transition: var(--trans-2s);
    white-space: nowrap;
    opacity:1;
}
.sidebar li
{
    height:10vh;
    margin-top:2vh;
    list-style: none;
    display:flex;
    align-items: center;
    font-size:1.3vw;
}
.sidebar header
{
    position:relative;
}
 .sidebar .img-text .image img
{
    width: 4vw;
    border-radius: 1vh;
    
}
.sidebar .img-text .image
{
    min-width: 5vw;
    display: flex;
    align-items: center;
}
.sidebar header .text .title
{
    font-size: 1.5vw ;
    font-weight: 500;
}
.sidebar header .img-text
{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.sidebar .prog
{
    color:#695cfe;
}
.sidebar .teach
{
    color:var(--text-color)
}
.sidebar .title
{
    display: flex;
    flex-direction: row;
}
.sidebar .toggle
{
    position:absolute;
    right:-1.9vw;
    top: 50%;
    transform: rotate(180deg) translateY(50%);
    background-color: var(--primary-color);
    border-radius: 50%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
    transition: var(--trans-3s);
}
.sidebar.close .toggle
{
   
  transform: translateY(-50%);;
}

.sidebar li a
{
    height: 100%;
    width: 100%;
    text-decoration: none ;
    display: flex;
    align-items: center;
    transition: var(--trans-2s);
    border-radius: 3vh;
}
.sidebar li :hover .text,
.sidebar li a:hover .icon{
    color: var(--text-color);
}

.sidebar li a:hover
{
    background-color: var(--primary-color-light);
    color:var(--text-color)
}
.sidebar li .icon
{
    display: flex;
    justify-content: center;
    min-height: 3.5vh;
    min-width: 4.5vw;
    color:var(--text-color);
    transition:var(--trans-2s)
    
}

.sidebar .icon
{
    font-size: 0.7vw;
}

.sidebar li .text
{
    transition:var(--trans-2s)
}

.menu-bar .mode
{

    position:relative;
    background-color: var(--primary-color-light);
    border-radius: 1vh;
    transition: var(--trans-5s);
}
.menu-bar .mode .moon-sun
{
    height: 5vh;
    width:4vw;
    display:flex;
    align-items: center;

}
.menu-bar .mode .moon-sun .sun
{
    opacity: 0;
    transition: var(--trans-2s);
}

body.dark .menu-bar .mode .moon-sun .sun
{
    opacity: 1;
    
}

body.dark .menu-bar .mode .moon-sun .moon
{
    opacity: 0;
    transition: var(--trans-2s);
    
}
.menu-bar .mode .i
{
    position:absolute;

}
.menu-bar .mode .toggle-switch
{
    
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    min-width:5vw;
    cursor:pointer;
    position:absolute;
}
.toggle-switch .switch
{
    position: relative;
    height:3vh;
    width: 3.5vw;
    border-radius:3vh;
    background:var(--toggle-color)
}
.switch::before
{
    content: '';
    height: 2vh;
    width: 1vw;
    border-radius: 50%;
    background: var(--primary-color-light);
    position:absolute;
    top:50%;
    left:.5vw;
    transform: translateY(-50%);
    transition: var(--trans-2s);
}

body.dark .switch::before
{
    left:2.1vw;
}

.sidebar.close ~ .home
{
    left:7%;
    width: calc(93%);
}


.text
{
    font-size: 1vw;
}


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.home {
    position:relative;
    height: fit-content;
    left:17%;
    width: calc(83%);   
    transition: var(--trans-5s);
}


.products-section
{
    z-index: 99;
    position: absolute;
    top: 100%;
    height: fit-content;
    width: 100%;
    background: var(--gradient-background2);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;

}

.home .product 
{
    position: relative;
    top: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: baseline;
    gap: 1vw;
    
}
.home .product div
{
    overflow: hidden;
    width: 75vw;
    height: fit-content;
    border-radius: 4vh;
    background-color: var(--primary-color-light);
    transition: .8s;
}


.shapes div
{
    position: absolute;
    background-color: none;
    border: .3vw solid rgba(255, 255, 255, 0.922);
    height: 8px;
    width: 8px;
    z-index:-100;
   
}
.shapes div:nth-child(1)
{
    top: 34%;
    left:10%;
    border-radius: 50%;
    animation: var(--anim-4s);
    opacity: 0;
}
.shapes div:nth-child(2)
{
    top: 45%;
    left:26%;
    border-radius: 50%;
    animation: var(--anim-6s);
    opacity: 0;
}
.shapes div:nth-child(2)
{
    top: 12%;
    left:37%;
    border-radius: 50%;
    animation: var(--anim-6s);
    opacity: 0;
}
.shapes div:nth-child(3)
{
    top: 23%;
    left:68%;
    border-radius: 50%;
    animation: var(--anim-5s);
    opacity: 0;
}
.shapes div:nth-child(4)
{
    top: 34%;
    left:10%;
    border-radius: 50%;
    animation: var(--anim-4s);
    opacity: 0;
}
.shapes div:nth-child(5)
{
    top: 78%;
    left:25%;
    border-radius: 50%;
    animation: var(--anim-5s);
}
.shapes div:nth-child(6)
{
    top: 3%;
    left:87%;
    border-radius: 50%;
    animation: var(--anim-4s);
    opacity: 0;
}
.shapes div:nth-child(7)
{
    top: 13%;
    left:21%;
    border-radius: 50%;
    opacity: 0;
    animation: var(--anim-3s);
}
.shapes div:nth-child(8)
{
    top: 95%;
    left:89%;
    border-radius: 50%;
    animation: var(--anim-6s);
    opacity: 0;
}
.shapes div:nth-child(9)
{
    top: 31%;
    left:52%;
    border-radius: 50%;
    animation: var(--anim-5s);
    opacity: 0;
}
.shapes div:nth-child(10)
{
    top: 76%;
    left:56%;
    border-radius: 50%;
    animation: var(--anim-4s);
    
}

@keyframes animate {
    0%
    {
        opacity: 1;
        transform: translateY(0) rotate(360deg);
    }

    100%
    {
        opacity: 0;
        transform: translateY(-90px) rotate(360deg) scale(3);
    }
}

.linebreak
{
    background-color: rgb(255, 255, 255);
    border:  none;
    z-index: 1000;
    width: 80%;
    height: .1%;
    position: absolute;
    top:100%;
}

.linebreak-2
{
    background-color: rgb(255, 255, 255);
    border:  none;
    z-index: 1000;
    width: 100%;
    height: .1%;
    position: absolute;
    
}
 .service-header
{
  
    color: white;
    font-size: 4vw;
    font-weight: 1000;
    text-align: center;
    transition: 1s;
    z-index: 100
}

.description-intro
{
    color: white;
    text-align: center;
    width: 80%;
}

 .header-container
{
    position: relative;
    height: 100vh;
    z-index: 100;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    right:1.4%;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    width: calc(101.5%);
    color: var(--text-color-2)
  
}

.header-container .user-choice
{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10%;
    gap:15vw;
    color: white;
    width: fit-content;
    justify-content: center;
    font-size: 3vh;
}
#viewmore
{
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
}
#more
{
    scroll-behavior: smooth; 
}
#viewmore::after
{
    content: '';
    background-color: #fff;
    bottom: 0;
    left: 0;
    width:0;
    height: 10%;
    position: absolute;
    z-index: 100;
    transition: 0.9s ease;
}
#viewmore:hover::after
{
    width:8vw;
}

.view-services
{
    color: white;
    text-decoration: none;
}
.view-services:after
{
    content: '';
    background-color: #fff;
    bottom: 0;
    right:0%;
    width:0%;
    height: 10%;
    position: absolute;
    z-index: 100;
    transition: 0.9s ease;
}

.view-services:hover::after
{
    width: 11vw;
}

 .product 
{
    color: var(--text-color-2);
    display: flex;
    position: relative;
    top:5%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: baseline;
    gap: 2vw;
}
 .product div
{
    width: 80vw;
    height: 60vh;
    border-radius: 4vh;
    background-color: var(--product-color);
    transition: .8s;
    box-shadow: rgb(55, 65, 71) 0px 6px 9px;
    margin: 5vh;
    color: var(--text-color-2)
}
.day-gradient
{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-size: 400% 400%;
    height: fit-content;
    width: 100%;
    animation-name: bg;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
    opacity: 1;
    transition: opacity 3s ease;
    z-index: -101;
    position:absolute;
}

body.dark .day-gradient
{
    opacity:0 ;
}
 .product h2 {
    padding: 5vh;
    padding-bottom: 0vh;
    font-size: 5vw;
}

.product p {
    font-size: 1.5vw;
    padding-top: 0vh;
    padding: 5vh;
}

@keyframes appear
{
    from
    {
        opacity:0;
        scale: 0.5;
    }
    to
    {
        opacity: 1;
        scale: 1;
    }
}
.hidden
{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

/*FOOTER*/
footer
{
    width: 100%;
    height: 8%;
    background-color: #181818;
    position:absolute;
    top:100%;
    z-index: 100;
    color:#cccccc;
}
footer .logos
{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap:1%;
    justify-content: center;
    margin-top: 1%;
}


footer .check-title
{
    font-size: 4vh;
}
footer .soc-med
{
    font-size: 3vh;
}
footer p
{
    text-align: center;
    font-size: 2vh;
}

footer .descriptioon-footer
{
    margin-top: 1%;
}
footer .content-footer
{
    margin-top: 1%;
}
footer .copyright
{
    margin-top: 2%;
}

.foot .followus
{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*FOOTER*/

 .description-container {
    position: relative;
    top:1%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    gap:2%;
}

 .search-container-search
{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
 .logo-container {
    height: 10vw;
    width: 10vw;
    border: 0.5vw solid var(--primary-color-light);
    border-radius:50%;
    animation: floating 2s infinite ease-in-out alternate;
    z-index: 100;
    box-shadow: 0px 0px 1px 4px var(--text-color);
    transition: .9s ease;
}
.log-in {
    background-color:white;
    border-color: var(--sidebar-color);
    border: none;
    margin-top: 2%;
    width:20%;
    height: 8%;
    border-radius: 10vw;
    font-size:1.5vw;
    font-weight: 500;
    color: black;
    letter-spacing: 0.1vw;
    transition: .4s ease;
}

.log-in:hover
{
    background: none;
    border: 1px solid white;
    color: white;
}

.search-container-search .title-combined
{
    margin-top: 3%;
    color: white
}

 .search-container-search .progteach-title
{
    font-size: 3vw;
    display: inline;
}

.products-section .search-container-search .progteach-title.purple
{
    color: var(--primary-color)
}


@keyframes floating {
    100% {
        transform: translateY(2vh);
    }
}

.description {
    text-align: center;
    font-size: 2vw;
    color: black;
}

.Prog-Logo {
    position: absolute;
    right: 5%;
    height: 7.5vw;
    width: auto;
    margin-top: 5vh;
}


.Coding-Header {
    display: flex;
}

.Coding-Name {
    width:15vw;
}

.Indicator {
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 4vw;
    margin-top: 7%;
}
.Motto-Text {
    z-index: 100;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    text-align: center;
    color: white;
    font-weight: 600;
    height: 100%;
}

.Motto-text .hidden
{
text-align: center;
}

.Motto-Container {
    position: relative;
    height: 100vh;
    width: calc(100%);
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
    z-index: -99;
    box-shadow: 0 0px 20vw 4vw #082531;

  svg {
    display: none;
  }


  .gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
    overflow: none;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }
}

@keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }

  @keyframes bg
{
    0%
    {
        background-position: 0% 100%;
    }

    30%
    {
        background-position: 20% 60%;
    }

    50%{
        background-position: 100% 100%;
    }
    70%
    {
        background-position: 50% 50%;
    }

    100%{
        background-position: 100% 0%;
    }
}